.modal-header, .modal-footer {
  border: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(46, 46, 46, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.currencies-list .table-responsive {
  max-height: 65vh;
  overflow-y: auto;
  border: none;
}

.select-settings-section {
  text-align: center;
  font-size: 25px;
  margin: 30px

}

.select-settings-section p {
  margin: 15px
}